In [11]:
import omdb
import json
import numpy as np
import pandas as pd
import time
from IPython.display import clear_output

omdb.set_default('apikey', 'f022982e')

In [15]:
#Read csv with names and IDs of movies, 
df_movies = pd.read_csv('movie_titles.csv')
df_movies.index.name = 'MovieID'
df_movies.index = np.arange(1, len(df_movies)+1)
df_movies['Is_there_content'] = np.nan
df_movies['Actors'] = None
df_movies['Genre'] = None
df_movies['Country'] = None
df_movies['Director'] = None
df_movies['Runtime'] = None
df_movies['Writer'] = None
df_movies['Movie']
df_movies.head(10)

,Unnamed: 0,Name,Year,Is_there_content,Actors,Genre,Country,Director,Runtime,Writer
1,1,Dinosaur Planet,2003,NaN,None,None,None,None,None,None
2,2,Isle of Man TT 2004 Review,2004,NaN,None,None,None,None,None,None
3,3,Character,1997,NaN,None,None,None,None,None,None
4,4,Paula Abdul's Get Up & Dance,1994,NaN,None,None,None,None,None,None
5,5,The Rise and Fall of ECW,2004,NaN,None,None,None,None,None,None
6,6,Sick,1997,NaN,None,None,None,None,None,None
7,7,8 Man,1992,NaN,None,None,None,None,None,None
8,8,What the #$*! Do We Know!?,2004,NaN,None,None,None,None,None,None
9,9,Class of Nuke 'Em High 2,1991,NaN,None,None,None,None,None,None
10,10,Fighter,2001,NaN,None,None,None,None,None,None

In [295]:
for j in range(0,len(df_movies.index)):
    movie = omdb.title(df_movies.iloc[j,0], timeout = 100)
    if movie != {}:
        df_movies.iloc[j,3] = 'YES'
        df_movies.iloc[j,[4,5,6,7,8,9]] = [movie.actors, movie.genre, movie.country, movie.director, movie.runtime, movie.writer]
    else:
        df_movies.iloc[j,3] = 'NO'

In [299]:
df_movies.to_pickle('movies_plus_info.pkl')